.Admin{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Admin-form{
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}